<div class="user-details-container">
    <h2>User Details</h2>

    <div class="details-row">
        <span class="label">ID:</span>
        <span class="value">{{ userDetails?.id }}</span>
    </div>

    <div class="details-row">
        <span class="label">Name:</span>
        <span class="value">{{ userDetails?.name }}</span>
    </div>

    <div class="details-row">
        <span class="label">Language:</span>
        <span class="value">{{ userDetails?.language }}</span>
    </div>

    <div class="details-row">
        <span class="label">Bio:</span>
        <span class="value">{{ userDetails?.bio }}</span>
    </div>
    <div class="details-row">
        <span class="label">Version:</span>
        <span class="value">{{ userDetails?.version }}</span>
    </div>
</div>